body{
	font-family: 'Montserrat', sans-serif;
	background-color: aliceblue;
}

#main{
	margin-left: 2%;
}

.site-header{
	display: none;
}
.entry-footer{
	display: none;
}

.couleurSession{
	color: red;
}

.couleurdomaine{
	color: blue;
}
