body{
	font-family: 'Montserrat', sans-serif;
	background-color: aliceblue;
}

#main{
	margin-left: 2%;
}

.site-header{
	display: none;
}
.entry-footer{
	display: none;
}

.tableau-grid{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
	*{
		border: 2px solid black;
		text-align: center;
		height: 100%;
	}
	
}

.couleurSession{
	color: red;
}

.couleurdomaine{
	color: blue;
}
